
*.pyc
**/Analysis/Ellipticity Analysis/Older figures
Analysis/.DS_Store
Magnetar_Main/.DS_Store
Magnetar_Main/makefile
Magnetar_Main/pluto
Magnetar_Main/pluto
Analysis/Ellipticity Analysis/Older figures/.DS_Store
